In [1]:
print("hello")

hello

Dictionary 
examples
- google search engine key value
- truecaller

In [1]:
contacts = {987654321: "Amiya", 1234567890: "Varsha"}
contacts

{987654321: 'Amiya', 1234567890: 'Varsha'}

In [4]:
for number, name in contacts.items():
    if number == 987654321:
        print("Update your number,",name)

Update your number, Amiya

In [2]:
google = {"dog": ["dog image", "dog video"], "cat":  ["cat image", "cat video"]}
google

{'dog': ['dog image', 'dog video'], 'cat': ['cat image', 'cat video']}

In [8]:
for data in google:
    if data == "dog": 
        print(data, "-", google[data])

dog - ['dog image', 'dog video']

EXAMPLES

In [2]:
#case 1
num = 10
if None:
    print("Number is positive")
print("This will print always")

Number is positive
This will print always

In [3]:
#case 2
num = 10
if num >= 10:
    print("Number is positive")
print("This will print always")

Number is positive
This will print always

Nested loop

In [5]:
#case 1
num = 15
if num >= 10 and 20 <= num:
    print("number is positive")
elif num > 10 and 20 > num:
    print("2nd division")
else:
    print("Fail")

2nd division

In [6]:
#case 2
num = 15
if num >= 10 and 10 <= num:
    if num > 20:
        print("Number positive")
    else:
        print("2nd division")
else:
    print("Fail")

2nd division

In [7]:
#case 3
a, b, c = 12, 3, 20
if a > b and a > c:
    print("a is biggest")
elif b > a and b > c:
    print("b is biggest")
else:
    print("c is biggest")

c is biggest

Range
range(start, stop, step)
- stop is excluded
- default start is 0

In [8]:
for i in range(10, 100, 10):
    print(i)

10
20
30
40
50
60
70
80
90

In [13]:
x = [1, 2, 3, 4]
for data in x:
    print(data)
else:
    print("No data")

1
2
3
4
No data

In [24]:
for i in range(20, 60):
    for j in range(2, i // 2 + 1):
        if i % j == 0:
            break
    else:
        print(i)

23
29
31
37
41
43
47
53
59

Break
dont check rest - come out
- searching for a particular id in employee ids
- searching for an account in bank account

Continue
continue loop - dont run next lines in the loop. Jump to next iterator

In [1]:
li = [1, 2, 3, 4, 5]
for num in li:
    if num % 2 == 0:
        continue
    print(num)
else:
    print("list over")

1
3
list over

In [4]:
li = ["get", "post", "put", "patch"]
for i in range(5):
    http = input("Enter http method: ")
    if http not in li:
        print("Invalid http method! Stopping...")
        break
    print(http, "method executed")

Enter http method:  get

get method executed

Enter http method:  post

post method executed

Enter http method:  hello

Invalid http method! Stopping...

Lists
- append - li.append("hi")
- extend - li.extend([3, 4])
- insert - li.insert(2, "hello")
- remove - li.remove("hi")
- in & not in
- reverse - li.reverse()
- sort - li.sort()
- sorted - sorted(li, reverse = True)
- split - string.split(",") - default space
- count - li.count(2) - counts frequency of 2

In [6]:
a = [9, 4, 5, -2, 7, -4, 1]
b = sorted(a)
c = sorted(a, reverse = True)
print(b)
print(c)

[-4, -2, 1, 4, 5, 7, 9]
[9, 7, 5, 4, 1, -2, -4]

In [9]:
lst = [9, 4, 7, 1]
lst1 = []
lst1 = lst
lst1.append(3)
lst.append(4)
print(id(lst), id(lst1))
print(lst)
print(lst1)

2540256105856 2540256105856
[9, 4, 7, 1, 3, 4]
[9, 4, 7, 1, 3, 4]

In [13]:
string = "hello world welcome to ust"
lst = string.split()
lst

['hello', 'world', 'welcome', 'to', 'ust']

In [14]:
lst[-2]

'to'

In [16]:
lst[:-2: 2]

['hello', 'welcome']

In [17]:
lst[::3]

['hello', 'to']

list comprehension - concise way to create lists

In [18]:
lst = [i**2 for i in range(10)]
lst

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [20]:
lst = [i**2 if i<5 else i for i in range(10)]
lst

[0, 1, 4, 9, 16, 5, 6, 7, 8, 9]

Without function

In [26]:
matrix = [
    [1, 2, 3, 4],
    [6, 8, 3, 4],
    [7, 8, 9, 3]
]

transposed = [[row[i] for row in matrix] for i in range(4)]
transposed

[[1, 6, 7], [2, 8, 8], [3, 3, 9], [4, 4, 3]]

With funtion

In [32]:
matrix = [
    [1, 2, 3, 4],
    [6, 8, 3, 4],
    [7, 8, 9, 3]
]

AttributeError: 'list' object has no attribute 'transpose'

NESTED TUPLE

In [1]:
kyc = (1, "Amiya", 9876543210, (1, "ABDHBSD"))
print(type(kyc))

<class 'tuple'>

In [2]:
kyc[3][1]

'ABDHBSD'

In [3]:
kyc = (1, "Amiya", 9876543210, [1, "ABDHBSD"])
kyc[3][0] = 2
kyc

(1, 'Amiya', 9876543210, [2, 'ABDHBSD'])

In [4]:
#string also immutable
string = "hello"
string[1] = "e"

TypeError: 'str' object does not support item assignment

In [17]:
tup = (("hi",) * 5)
type(tup)

tuple

In [18]:
lst = ["hi"] * 5
lst

['hi', 'hi', 'hi', 'hi', 'hi']

index function
tup.index(n) - gives index of element n
tup.count(n) - frequency of n

In [20]:
tup = (1, 2, 3, 4, 5, 0, 0)
print(tup.index(0))
tup.count(0)

5

2

In [22]:
print(tuple(sorted(tup)))

(0, 0, 1, 2, 3, 4, 5)

In [23]:
max(tup)

5

In [24]:
min(tup)

0

In [25]:
sum(tup)

15

In [26]:
import statistics as st
st.mean(tup)

2.142857142857143

In [29]:
import math
math.factorial(4)

24

Sets

its immutable
mathematical operations - union, intersection, symmetric difference etc
- add - ls.add(2)
- update - ls.update([10, 2, 1], (2, 3)) - adds 10, 2 1 3
- remove and discard - remove gives error if not exists

In [30]:
lst = {1, 2, 3}
type(lst)

set

In [32]:
li = [1, 2, 3, 4]
li2 = li
id(li), id(li2)

(2349304807936, 2349304807936)

In [36]:
li = [1, 2, 3, 4]
li2 = li.copy()
print(li, li2)
id(li), id(li2)

[1, 2, 3, 4] [1, 2, 3, 4]

(2349304819200, 2349304807872)

In [37]:
li = {1, 2, 3, 4}
li.remove(6)

KeyError: 6

In [38]:
li = {1, 2, 3, 4}
li.discard(6)

pop - deletes random data from set. doesnt dee=kete data

In [42]:
li = {1, 2, 3, 4}
b = li.pop()
li, b

({2, 3, 4}, 1)

HOW TO REASSIGN VALUE

In [44]:
li = {1, 2, 3, 4}
b = li.pop()
print(li)
li.add(b)
li

{2, 3, 4}

{1, 2, 3, 4}

In [48]:
li1 = {1, 2, 3, 4, 5}
li2 = {5, 6}
print(li1 | li2)
print(li1.union(li2))

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

In [49]:
print(li1 & li2)
print(li1.intersection(li2))

{5}
{5}

In [50]:
print(li1 - li2)
print(li1.difference(li2))

{1, 2, 3, 4}
{1, 2, 3, 4}

In [52]:
#not common in both set
print(li1 ^ li2)
print(li1.symmetric_difference(li2))

{1, 2, 3, 4, 6}
{1, 2, 3, 4, 6}

In [54]:
li1 = {1, 2, 3, 4, 5}
li2 = {2, 3}
print(li2.issubset(li1))
print(li1.issuperset(li2))

True
True

Frozen sets
cannot add value or access element via indexing
- li = frozenset([0, 1, 2])

Dictionary

In [1]:
my_dict = {1: 'a', 2: 'b', 2:'c'} #gets updated
my_dict

{1: 'a', 2: 'c'}

In [2]:
my_dict = dict([(1, 'a'), (2, 'b')]) #create with list of tuples
my_dict

{1: 'a', 2: 'b'}

In [9]:
my_dict = dict(((1, 'a'), (2, 'b')))
print(my_dict.get(3, "No value"))

No value

- popitem() - it will delete stack base, means lifo. it will delete last key
- pop()

In [11]:
my_dict = {1: 'a', 2: 'b', 3:'c'}
print(my_dict.pop(2))
my_dict

b

{1: 'a', 3: 'c'}

In [14]:
my_dict = {1: 'a', 2: 'b', 3:'c', 4:'d'}
print(my_dict.popitem())
my_dict

(4, 'd')

{1: 'a', 2: 'b', 3: 'c'}

In [17]:
#delete

my_dict = {1: 'a', 2: 'b', 3:'c', 4:'d'}
del my_dict[2]
print(my_dict)
my_dict.clear()
print(my_dict)
del my_dict
print(my_dict)

{1: 'a', 3: 'c', 4: 'd'}
{}

NameError: name 'my_dict' is not defined

- .copy()
- dict.fromkeys(list, value)
- .items()
- .values()
- .keys()

In [18]:
my_dict = {1: 'a', 2: 'b', 3:'c', 4:'d'}
dir(my_dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [19]:
my_dict = {1: 'a', 2: 'b', 3:'c', 4:'d'}
new_dict = {k**2: v*3 for k, v in my_dict.items() if k>2}
new_dict

{9: 'ccc', 16: 'ddd'}